* {
    padding: 0;
    margin: 0;
    line-height: 1.5em;
    font-size: 1rem;
}
html {
    font-size: 20px;
}
body {
    background-color: black;
    color: #ddd;
    font-family: sans-serif;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
h1 {
    font-size: 2rem;
    color: rgb(40, 97, 255);

}
.content {
    background-color: #333;
    padding: 0 0.5rem;
}
#maze-holder{
    background-color: teal;
    width: 256px;
    height: 256px;
    font-size: 0;
}
.on, .off {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: violet;
}
.off {
    background-color: tomato;
}
